/minisat-2.2.0/
*.d
*.o
*.a
*.exe
*.out
*.output
cbmc
converter
cpp_parser_test
cpp_scanner_test
file_converter
goto-cc
goto-instrument
ieee_float_test
irep_ids_convert
json_test
sm2_parser_test
test-bigint
