/ansi_c_lex.yy.cpp
/ansi_c_y.tab.cpp
/ansi_c_y.tab.h
/arm_builtin_headers.inc
/clang_builtin_headers.inc
/cprover_library.inc
/cw_builtin_headers.inc
/gcc_builtin_headers_alpha.inc
/gcc_builtin_headers_arm.inc
/gcc_builtin_headers_generic.inc
/gcc_builtin_headers_ia32.inc
/gcc_builtin_headers_ia32-2.inc
/gcc_builtin_headers_mips.inc
/gcc_builtin_headers_power.inc
